fastapi
uvicorn
openai
httpx
pydantic
pydantic-settings
python-dotenv
qdrant-client
celery
requests
sentry-sdk
Werkzeug
rich

pytest
pytest-asyncio
respx

SQLAlchemy
watchfiles
python-multipart
Jinja2
email_validator
